---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
ColumnLimit: 100
IndentCaseLabels: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentPPDirectives: AfterHash